<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BODAS</ion-title>
    </ion-toolbar>
  </ion-header>

  <div >
    <h1 style="margin-left: 15px">VAMOS A TU BODA</h1>

    <h5 style="margin: 15px;">Por que savemos que el dia de tu boda es una fecha de las mas importantes de tu vida, tenemos a los mejores artistas en belleza para ti y tu corte.</h5>
    <h5 style="margin: 15px;"> Es nuestra mision que ese dia este lleno de recuerdos bellos e inolvidables para ti y los tuyos.</h5>
    <h5 style="margin: 15px;">te invitamos a llenar este cuestionario y nos comunicaremos con tigo.</h5>
  </div>

  <div style="margin: 15px;">
    <ion-img src="./assets/icon/boda1.jpeg">
    </ion-img></div>
  
  
  <!--     Acordion formulario 
    <ion-content class="ion-padding">
  <div id="faq">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Prueva </h2>
        Contenido del Acordion 

       
          
          <p>nombre</p>     
            <ion-input class="acordion" type="text"></ion-input>
           
        
      </li>
</ul>
  </div>
</ion-content> -->


<!-- ion-modal -->
<ion-button expand="full" (click)="openModal()" color="primary">
  Formulario
</ion-button>








  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
